body{
    font-family: 'Times New Roman', Times, serif;
    color: black;
    font-size: 14px;
    text-align: center;

}
.video{
    display: none;
}
nav{
    display:none;
}

tabel{
    border: 11px;
    border-bottom: 5px;
}